onlyBuiltDependencies[]=@firebase/util
onlyBuiltDependencies[]=@parcel/watcher
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=lmdb
onlyBuiltDependencies[]=msgpackr-extract
onlyBuiltDependencies[]=protobufjs
confirm-modules-purge=false
