GCP_WORKLOAD_IDENTITY_PROVIDER=
GCP_SERVICE_ACCOUNT=
GCP_PROJECT_ID=
GCP_REGION=
DOCKER_TOKEN=
FIREBASE_PROJECT_ID=
FIREBASE_CREDENTIALS_JSON=
JWT_SECRET=your_super_secret_jwt_key_here
JWT_ACCESS_EXPIRATION_MINUTES=15
ALLOWED_ORIGINS=http://localhost:4200,http://localhost:80,http://localhost
INITIAL_ADMIN_EMAIL=admin@sistema.com
#production
#DATABASE_URL=
#testing
#DATABASE_URL=